.container{
    font-family: Source Sans Pro, Arial, sans-serif;
    height: 64px;
    background: #031d33;
    display: flex;
    padding: 22px;
    font-weight: 600;
    color: white !important;
}
.items {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.item{
    margin: 0 20px;
}
img{
    margin: 0  9px;
    cursor: pointer;
}
a {
    all: unset;
}