.img1 {
  position: absolute;
  top: -35px;
  right: 0;
  width: 130px;
}
button {
  position: relative;
  top: 130px;
  background-color: #fff;
  color: rgb(1, 180, 228);
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}
.first {
  display: flex;
  flex-direction: column;
  position: relative;
}
footer {
  font-family: Source Sans Pro, Arial, sans-serif;
  background: #031d33;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
nav {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 1200px;
}
ul {
  margin: 10px 10px;
  list-style-type: none;
}
h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
li {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.6em;
  cursor: pointer;
}
@media (max-width: 1300px) {
  footer {
    padding: 0 100px;
  }
}

@media (max-width: 1090px) {
  footer {
    padding: 0 10px;
  }
  .img1 {
    width: 90px;
    top: 0px;
  }
  button {
    font-size: 0.8em;
    padding: 4px 8px;
  }
}
@media (max-width: 350px) {
    .img1 {
        position: static;
      }
      .first {
        position: static;
      }
      button {
        position: static;
        margin: 10px;
      }
}
